.w3ProviderList {
    text-align: center;
    color: #786969;
}

.w3ProviderList .thePrompt {
    font-size: x-large;
    font-weight: bold;
    margin: 1rem;
}

.w3ProviderList .pLogo {
    height: 5rem;
    width: auto;
    margin: 1rem auto;
}

.w3ProviderList .w3Provider {
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
    color: #786969;
}

.w3ProviderList .w3Provider button {
    border-color: #cccccc0a;
    color: #786969;
    background-color:  #9f9b9b61;
    background:  #9f9b9b61;
}

.w3ProviderList .ne-gated-holder{
    position: relative;
}

.w3ProviderList .ne-gated-lock{
    position: absolute;
    top:10px;
    right:10px;
    text-align: right;
    
}

.w3ProviderList .ne-gated-lock-open button,
.w3ProviderList .ne-gated-lock-open{
    background-color: #9e9e9ee6;
}

.w3ProviderList .ne-gated-lock-closed button{
    background-color: #fafafa2b;
}

.w3ProviderList .ne-gated-lock button{
    width: 35px;
    height: 35px;
    
    background-image: url('./locked.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}

.w3ProviderList .ne-gated-lock .ne-gated-lock-menu{
    min-width: 9em;
    padding: 0.2em;
    text-align: left;
}
